button:hover{
	background-color:#BDF7FB;
}
button:active{
	background-color:#FBA160;
}
.logo{
	height:60px;
	width: 60px;
	left:20px;
	top:25px;
	position: absolute;
	border-radius: 40px;
}
.tripto{ 
	left: 98px; 
	top: 35px; 
	position: absolute; 
	font-size: 29px; 
	font-family: 'Slackey';
	font-weight: 700; 
	word-wrap: break-word;
    color: black;
}
a{
	color: black;
	text-decoration: none;
}
.home{
	width: 169px; 
	height: 43px; 
	left: 400px; 
	top: 30px; 
	position: absolute; 
	font-size: 24px; 
	font-family: Roboto Serif; 
	font-weight: 400; 
	word-wrap: break-word;
	border-radius: 20px;
	background-color: rgba(255, 255, 255, 0.00);
	border-color: white;
	border-width: 0px;
}
.aboutus{
	width: 169px; 
	height: 43px; 
	left: 580px; 
	top: 30px; 
	position: absolute; 
	font-size: 24px; 
	font-family: Roboto Serif; 
	font-weight: 400; 
	word-wrap: break-word;
	border-radius: 20px;
	background-color: rgba(255, 255, 255, 0.00);
	border-color: white;
	border-width: 0px;
}
.packages{
	width: 169px; 
	height: 43px; 
	left: 760px; 
	top: 30px; 
	position: absolute; 
	font-size: 24px; 
	font-family: Roboto Serif; 
	font-weight: 400; 
	word-wrap: break-word;
	border-radius: 20px;
	background-color:rgba(255, 255, 255, 0.00);
	border-color: white;
	border-width: 0px;
}
.contactus{
	width: 169px; 
	height: 43px; 
	left: 940px; 
	top: 30px; 
	position: absolute; 
	font-size: 24px; 
	font-family: Roboto Serif; 
	font-weight: 400; 
	word-wrap: break-word;
	border-radius: 20px;
	background-color: rgba(255, 255, 255, 0.00);
	border-color: white;
	border-width: 0px;
}
.login{
	width: 200px; 
	height: 43px;
	left: 1240px; 
	top: 30px;
	background-color:#BDF7FB;
	font-size: 22px; 
	font-family: Roboto Serif; 
	font-weight: 600; 
	word-wrap: break-word;
	position: absolute;
	border-radius: 20px;
	border-color: white;
	border-width: 0px;
}
.background{
	width: 100%;
    height: 600px;
    margin-top: 90px;
    background-size: cover;
}
.welcome{
	color: white;
	text-align: left;
	font-size: 80px;
	margin-top: -400px;
	font-weight: 400;
	margin-left: 90px;
}
.fieldset{
	height: 470px;
	width: 550px; 
	left: 648px; 
	top: 170px;
	padding: 20px;
	position: absolute;
	background: rgba(251, 207, 173, 0.54);
    box-shadow: 10px 10px 20px 0px rgba(0, 0, 0, 0.25); 
	border-radius: 20px;
	border-width: 0px;  
	flex-direction: column; 
	justify-content: center; 
	align-items: center; 
	gap: 20px; 
	display: inline-flex;
	color: white; 
	font-size: 26px; 
	font-family: Roboto Serif; 
	font-weight: 300; 
	word-wrap: break-word;
 }
 .sign-in{
 	color: black;
 	margin-top: -30px;
 	font-size: 35px;
 }
 input[type="text"],
 input[type="password"] {
            width: 400px;
            padding: 10px;
            margin-top: -20px;
            margin-bottom: 15px;
            border: none;
            outline: none;
            transition: border-bottom 0.3s ease-in-out;
            background: transparent;
            }
.login1{
	background-color:rgba(20, 207, 230, 0.37);
	width: 200px; 
	border-radius: 40px;
	height: 40px;
	border-width: 0px;
	font-family: Roboto serif;
	font-size: 20px;
	margin-left: 110px;
}
.create{
	background-color:rgba(20, 207, 230, 0.37);
	width: 340px; 
	border-radius: 40px;
	height: 43px;
	border-width: 0px;
	font-family: Roboto serif;
	font-size: 18.5px;
	position: absolute;
	left: 130px;
	}
.forgotpass{
	position: absolute;
	margin-right: 20px;
	font-size: 18px;
	margin-left: 280px;
	position: absolute;
}
.forgotpass:hover{
	text-decoration: underline;
	color: grey;
}
.forgotpass:active{
	text-decoration: none;
	color: black;
}

h4{
  overflow: hidden;
  text-align: center;
  font-size:20px;
  font-weight: 100px;
  color: black;
}
h4::before, h4::after{
  background-color: #000;
  content: "";
  display: inline-block;
  height: 1px;
  position: relative;
  vertical-align: middle;
  width: 50%;
}
h4::before {
  right: 0.5em;
  margin-left: -50%;
}

h4::after {
  left: 0.5em;
  margin-right: -50%;
}
.text{
	font: 1.5rem/3 Roboto serif;
}
.password{
	font: 1.5rem/3 Roboto serif;
}
hr{
	color: grey;
	border-width: 1px;
	border-color: black;
	margin-top: -38px;
}